{% extends 'base.html.twig' %}

{% block title %}Games index{% endblock %}

{% block body %}
    <h1>Games index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>Title</th>
                <th>Description</th>
                <th>Release_date</th>
                <th>Assessment</th>
                <th>Genre_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.photo }}</td>
                <td>{{ game.title }}</td>
                <td>{{ game.description }}</td>
                <td>{{ game.releaseDate ? game.releaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ game.assessment }}</td>
                <td>{{ game.genreId }}</td>
                <td>
                    <a href="{{ path('app_games_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('app_games_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_games_new') }}">Create new</a>
{% endblock %}
