{% extends 'base.html.twig' %}

{% block title %}Games searcher{% endblock %}

{% block body %}
    {# Contenedor de formulario de búsqueda #}
    <div class="inline-block-container">
        {{ form_start(form) }}
        <div class="item">
            {{ form_widget(form) }}
        </div>
        <div class="item">
            <button class="search-btn item text-white border border-gray-400 text-xl" type="submit">Buscar</button>
        </div>
        {{ form_end(form) }}
    </div>

    {# Contenedor de juegos favoritos #}
 {#    <div class="flex flex-col items-center justify-center mt-8">
        <h2 class="text-3xl text-white mb-4">Tus Juegos Favoritos</h2>
        {% if favoriteGames is not empty %}
            <div class="flex flex-wrap gap-6 justify-center">
                {% for game in favoriteGames %}
                    <div class="w-[530px] h-[340px] text-white border border-gray-400 overflow-hidden shadow-lg rounded-md hover:scale-105 transition-all gameCard">
                        <a href="{{ path('app_games_show', {'id': game.id}) }}">
                            <div class="w-full h-4/5 mb-4" style="background-image: url('{{ game.photo }}'); background-size: cover;"></div>
                            <p class="text-2xl text-center">{{ game.title }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-white">No tienes juegos favoritos.</p>
        {% endif %}
    </div> #}

    {# Contenedor de juegos filtrados #}
	
    <div class="flex flex-col items-center justify-center ">

<div class="flex justify-center items-center h-[70px] px-10 max-w-[550px] mb-4 bg-black bg-opacity-70 text-white rounded-3xl border border-neutral-950">
        <h2 class="text-3xl text-white ">Juegos Encontrados</h2>
</div>

        <div class="flex flex-wrap gap-6 justify-center">
            {% for game in games %}
                <div class="w-[530px] h-[290px] text-white border border-gray-400 overflow-hidden shadow-lg rounded-md hover:scale-105 transition-all gameCard">
                    <a href="{{ path('app_games_show', {'id': game.id}) }}">
                        <div class="w-full h-4/5 mb-4" style="background-image: url('{{ game.photo }}'); background-size: cover;">
						    {% if app.user %}
							<form action="{{ path('game_favorite', {'id': game.id, 'route':'games'}) }}" method="POST" style="display:inline;">
                        	<button type="submit" class="favorite-btn favoriteCard text-3xl hover:scale-125 rounded-full px-1 py-0.2 mt-2 ml-2">
                            {% if game in favoriteGames %}
                                ★
                            {% else %}
                                ☆
                            {% endif %}
							{% endif %}
                        	</button>
                    		</form>
						</div>
                        	<p class="text-2xl text-center">{{ game.title }}</p>
                    </a>

                    {# Botón para agregar o eliminar favorito #}

                </div>
            {% endfor %}
        </div>
    </div>
	
{% endblock %}
{# <a href="{{ path('app_games_new') }}">Create new</a>
<a href="{{ path('app_games_show', {'id': game.id}) }}">show</a>
<a href="{{ path('app_games_edit', {'id': game.id}) }}">edit</a> #}


{# <input id="search" type="text" placeholder="Busca aqui tu juego" class="p-2 border border-gray-600 mb-4">

<script>
	function handleChange() {
let search = document.getElementById('search')
let url = ''
if (search.value.trim() !== '') {
console.log(search.value)
url = "{{ path('app_games_search', {'search': 'search'}) }}".replace('search', search.value);
} else {
url = "{{ path('app_games_index') }}"
}
window.location.href = url
}
</script>
<button id='btn-search' onclick="handleChange()" class="mx-4 hover:scale-105 hover:text-black text-white border border-white px-4 mb-4 rounded-lg">Buscar</button>



{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Buscar</button>
{{ form_end(form) }}

{% if games is not empty %}
	<h2>Resultados:</h2>
	<ul>
		{% for game in games %}
			<li>{{ game.title }}</li>
		{% endfor %}
	</ul>
{% endif %} #}
