{% extends 'base.html.twig' %}

{% block title %}Games index{% endblock %}

{% block body %}

        <div class="flex flex-wrap gap-4 justify-center">

            {% for game in games %}
                <div class="sm:w-1/2 md:w-1/4 mx-4">
                    <div style="background-image: url('{{ game.photo }}'); width: 500px; height: 260px; background-size: cover; margin-bottom: 30px;"></div>
                    <p class="text-3xl text-center">{{ game.title }}</p>
                </div>
            {% endfor %}

        </div>

{% endblock %}
{# <a href="{{ path('app_games_new') }}">Create new</a>
<a href="{{ path('app_games_show', {'id': game.id}) }}">show</a>
<a href="{{ path('app_games_edit', {'id': game.id}) }}">edit</a> #}