{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<div class="fondo">
	<div id="bgCenter" class="mx-auto my-[200px] w-auto min-w-[580px] max-w-[580px] h-[500px] bg-gray-600 text-white rounded-3xl border-1 border-neutral-950">



		<div class="text-4xl flex justify-center my-[50px]">LOGO</div>

		<h1 class="flex justify-center">Register</h1>

		<div class="flex-col mx-[140px]">
			{{ form_errors(registrationForm) }}


			{{ form_start(registrationForm) }}
			<br>
	
			{{ form_row(registrationForm.email) }}
			<br>

			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			<br>
		
			{{ form_row(registrationForm.agreeTerms) }}

			<button type="submit" id="btn">SUBMIT</button>
			{{ form_end(registrationForm) }}
		</div>

	</div>
</div>

{% endblock %}
