{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }} 
    <link rel="stylesheet" href="{{ asset('styles/registro.css') }}"> 
{% endblock %}
{% block title %}Register
{% endblock %}

{% block body %}

	<nav><ol>
	<li>Home</li>
	<li><input type="text" name="" id="" placeholder='Search'></li>
	<li>Logout</li>
	</ol></nav>

	<div class="conteiner">


	



		<div class='formulario' style='    background-color: rgba(240, 248, 255, 0.336);
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);'>

			{{ form_errors(registrationForm) }}


			{{ form_start(registrationForm) }}

			<h1>Sign up</h1>
			{{ form_row(registrationForm.email,{
				'label': false,
				'attr': {
				    'placeholder': 'Email'				}
			}) }}


			{{ form_row(registrationForm.plainPassword, {
            'label': false,
			'attr': {
			'placeholder': 'Password'				}
        	}) }}


			{{ form_row(registrationForm.agreeTerms,{
				'label': false,
			}
			) }}

			<button type="submit" class="btn">SUBMIT</button>
			{{ form_end(registrationForm) }}
		</div>
			 <h1>0</h1>
		<div class='formulario'>
		
		<form action=""><h1>Login</h1>
			<input type="email" name="email" id="" placeholder="Email">
			<input type="password" name="password" id="" placeholder="Password">
			<input type="checkbox" name="agree" id="" placeholder="agree">
			<button type="submit" class="btn">SUBMIT
		</form>
		</div>

	</div>
{% endblock %}
