{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
<div class="fondo">
	<div id="bgCenter" class="mx-auto my-[200px] w-auto min-w-[500px] max-w-[600px] h-[500px] text-white
			rounded-3xl border-2 border-neutral-950">


		<div class="flex justify-center h-[100px]">LOGO</div>

		<h1 class="flex justify-center">Register</h1>

		<div class="ml-[50px]">
			{{ form_errors(registrationForm) }}


			{{ form_start(registrationForm) }}
			<br>

			{{ form_row(registrationForm.email) }}
			<br>

			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			<br>

			{{ form_row(registrationForm.agreeTerms) }}

			<button type="submit" class="btn">SUBMIT</button>
			{{ form_end(registrationForm) }}
		</div>

	</div>
</div>

{% endblock %}
