{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}
{% block header %}{% endblock %}


{% block body %}
	<form method="post">


		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<div class="fondo">
			<div id="bgCenter" class="mx-auto my-[200px] w-auto min-w-[580px] max-w-[580px] h-[500px] bg-gray-600 text-white rounded-3xl border-1 border-neutral-950">


				<a href="{{ path('app_home') }}"><div class="my-8 logo" style="margin-top: 10px; margin-bottom: 10px;"></div></a>


				<div class="flex justify-center text-2xl">YOUR PERFECT GAME FINDER</div>
				
				<div class="flex justify-center text-xl mt-[10px]">LOG IN</div>


				<div
					class="flex-col mx-[90px]">

					{% if error %}
						<div class="alert alert-danger mt-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="block m-auto form-control mt-8 text-black" placeholder="Email" autocomplete="email" required autofocus>

					<input type="password" name="password" id="inputPassword" class="block m-auto form-control mt-8 text-black" placeholder="Password" autocomplete="current-password" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"><br>

					<button id="btn" class="block m-auto text-xl" type="submit">
						Sign in
					</button>

					<div class="mt-[20px] flex justify-center mb-2">YOU ARE NOT REGISTERED?</div>
					<a class="flex justify-center m-auto btnregister" href="{{ path('app_register') }}">
						REGISTER</a>

				</div>
				
			</div>

		</div>

	</form>

{% endblock %}
