{% extends 'base.html.twig' %}

{% block title %}Game Finder
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
{% if app.user %}
	<div class="mt-10 mx-10 h-screen">
		<div class="grid grid-cols-4 gap-4 justify-items-center max-w-[1650px] m-auto bg-gray-600
						 text-white rounded-3xl py-[40px] text-2xl border border-neutral-950">
			<a href="{{ path('app_register') }}">Search for games</a>
			<a href="{{ path('app_register') }}">Profile</a>
			<a href="{{ path('app_register') }}">Make a review</a>
			<a href="{{ path('app_logout') }}">Log out</a>
		</div>
		<div class="my-[70px]"></div>
		<div class="flex justify-center max-w-[260px] bg-gray-600 text-white rounded-full py-[20px]
					text-2xl border border-neutral-950 m-auto">TRENDING</div>
		<div class="my-[130px]"></div>
		<div class="flex justify-around">
			<div class="w-[300px] h-[260px] bg-black "></div>
			<div class="w-[300px] h-[260px] bg-black"></div>

		</div>

	</div>

{% else %}
	<div class="pt-10 h-screen ">
		<div class="grid grid-cols-2 gap-2 justify-items-center max-w-[1650px] m-auto bg-gray-600
						 text-white rounded-3xl py-[40px] text-2xl border border-neutral-950 min-w-[500px]">
			<a href="{{ path('app_register') }}">Search for games</a>
			<a href="{{ path('app_login') }}">Log in</a>
		</div>

		<div class="my-[70px]"></div>
		<div class="flex justify-center max-w-[260px] bg-gray-600 text-white rounded-full py-[20px]
					text-2xl border border-neutral-950 m-auto">TRENDING</div>
		<div class="my-[130px]"></div>
		<div class="flex justify-around">
			<div class="w-[300px] h-[260px] bg-black "></div>
			<div class="w-[300px] h-[260px] bg-black"></div>

		</div>

	</div>

{% endif %}

{% endblock %}
