<!DOCTYPE html>
<html>
<div class="fondo"></div>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ importmap() }}
		{% endblock %}
	</head>
	<body>
	
		{% block header %}
			{% if app.user %}

				<div class="pt-5 mx-10 mb-10">
					<div class="grid grid-cols-5 gap-4 justify-items-center max-w-[1650px] m-auto bg-gray-600
						 text-white rounded-3xl py-[40px] text-2xl border border-neutral-950">
						<a href="{{ path('app_home') }}" class="logo"></a>
						<a href="{{ path('app_games_index') }}" class="flex items-center">Search for games</a>
						<a href="{{ path('app_user_show',{'id': app.user.id}) }}" class="flex items-center">Profile</a>
						<a href="{{ path('app_user_index') }}" class="flex items-center">Make a review</a>
						<a href="{{ path('app_logout') }}" class="flex items-center">Log out</a>
					</div>
				</div>

			{% else %}
				<div class="pt-5 mb-10 ">
					<div class="grid grid-cols-3 gap-2 justify-items-center max-w-[1650px] m-auto bg-gray-600
						 text-white rounded-3xl py-[40px] text-2xl border border-neutral-950 min-w-[500px]">
						<a href="{{ path('app_home') }}" class="logo"></a>
						<a href="{{ path('app_games_index') }}" class="flex items-center">Search for games</a>
						<a href="{{ path('app_login') }}" class="flex items-center">Log in</a>
					</div>
				</div>
			{% endif %}

		{% endblock %}
		{% block body %}

			<div class="flex justify-center mt-5 max-w-[260px] bg-gray-600 text-white rounded-full py-[20px] text-2xl border border-neutral-950 m-auto my-[130px]">TRENDING</div>
			<div
				class="flex justify-around">

				{#  <div class="w-[300px] h-[260px] bg-black ">{{game.photo}}</div>
												   <div class="w-[300px] h-[260px] bg-black"></div> #}

				<div class="flex flex-wrap gap-8 justify-center">

					{% for game in games %}

					<div class="w-[530px] h-[280px] bg-white border border-gray-400 overflow-hidden shadow-lg rounded-md hover:scale-105 transition-all gameCard text-white">
				<a href="{{ path('app_games_show', {'id': game.id}) }}">
						<div class="w-full h-4/5 mb-4" style="background-image: url('{{ game.photo }}'); background-size: cover;"></div>
						<p class="text-2xl text-center">{{ game.title }}</p>
				</a>
					</div>
						

					{% endfor %}

				</div>

			</div>

		{% endblock %}
	</body>
</html>
