<!DOCTYPE html>
<html>
	<div class="fondo"></div>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ importmap() }}
		{% endblock %}
	</head>
	<body>
		<style>
			body {
				position: relative;
				background-image: url('{{ asset(backgroundImage) }}');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				background-attachment: fixed;
				height: 100%;
				z-index: -1;
			}
			.fondo {
				position: fixed;
				width: 100%;
				height: 100%;
				background: rgb(34, 34, 34);
				background: linear-gradient(210deg, rgba(34, 34, 34, 0.600) 30%, rgba(68, 68, 68, 0.600) 50%, rgba(149, 149, 149, 0.600) 80%);
				z-index: -1;
			}
		</style>

		{% block header %}
			{% if app.user %}

				<div class="pt-5 mx-10 mb-10 ">
					<div class="grid grid-cols-4 gap-10 justify-items-center max-w-[1650px] m-auto bg-black bg-opacity-60
						 text-white rounded-3xl py-[10px] border border-neutral-950">
						<a href="{{ path('app_home') }}" class="logo"></a>
						<a href="{{ path('app_games_index') }}" class="hover flex items-center text-3xl">Search for games</a>
						<a href="{{ path('app_user_show',{'id': app.user.id}) }}" class="hover flex items-center text-3xl">Profile</a>
						<a href="{{ path('app_logout') }}" class="hover flex items-center text-3xl">Log out</a>

					</div>
				</div>

			{% else %}
				<div class="pt-5 mb-10 ">
					<div class="grid grid-cols-3 gap-2 justify-items-center max-w-[1650px] m-auto bg-black bg-opacity-60
						 text-white rounded-3xl py-[10px] text-2xl border border-neutral-950 min-w-[500px]">
						<a href="{{ path('app_home') }}" class="logo"></a>
						<a href="{{ path('app_games_index') }}" class="hover flex items-center text-3xl">Search for games</a>
						<a href="{{ path('app_login') }}" class="hover flex items-center text-3xl">Log in</a>
					</div>
				</div>
			{% endif %}

		{% endblock %}
		{% block body %}

			<div class="flex justify-center mt-10 max-w-[300px] bg-black bg-opacity-60 text-white rounded-full py-[30px] text-4xl border border-neutral-950 m-auto my-[130px]">Trending</div>
			<div
				class="flex justify-around">

				{#  <div class="w-[300px] h-[260px] bg-black ">{{game.photo}}</div>
																   <div class="w-[300px] h-[260px] bg-black"></div> #}

				<div class="flex flex-wrap gap-8 justify-center">

					{% for game in games %}

						<div class="w-[530px] h-[280px] bg-white border border-gray-400 overflow-hidden shadow-lg rounded-md hover:scale-105 transition-all gameCard text-white">
							<a href="{{ path('app_games_show', {'id': game.id}) }}">
								<div class="w-full h-4/5 mb-4" style="background-image: url('{{ game.photo }}'); background-size: cover;"></div>
								<p class="text-2xl text-center">{{ game.title }}</p>
							</a>
						</div>


					{% endfor %}

				</div>

			</div>

		{% endblock %}
	</body>
</html>
