{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}
{% block header %}{% endblock %}


{% block body %}
	<div class="fondo">
		<div id="bgCenter" class="mx-auto my-[200px] w-auto min-w-[580px] max-w-[580px] h-[500px] bg-gray-600 text-white rounded-3xl border-1 border-neutral-950">


			<a href="{{ path('app_home') }}">
				<div class="logo" style="margin-top: 10px; margin-bottom: 10px;"></div>
			</a>

			<p class="text-3xl flex justify-center">Profile</p>


			<div class="ml-16 mt-10 text-2xl">
				<p class="mb-5">Name:
					{{ user.name }}</p>

				<p class="mb-5">Nickname:
					{{ user.nickName }}</p>

				<p class="mb-7">Email:
					{{ user.email }}</p>
					<br>
			</div>


			<a class="flex justify-center text-xl" href="{{ path('app_user_profile', {'id': user.id}) }}">Edit</a>
			<br>

			<a class="flex justify-center text-xl" href="{{ path('app_home') }}">Back home</a>
			<br>
		</div>
	</div>
{% endblock %}


{#             <tr>
									                <th>Id</th>
									                <td>{{ user.id }}</td>
									            </tr>
									            <tr> #}


{#             <tr>
					                <th>Roles</th>
					                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					            </tr> #}
{#             <tr>
					                <th>Password</th>
					                <td>{{ user.password }}</td>
					            </tr> #}

{# <div class="flex justify-center">{{ include('user/_delete_form.html.twig') }}</div> #}
